* {
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
}

h1 {
    font-size: 36px;
}
h1 > small {
    color: #777;
    font-size: 65%;
}
h1, h2 {
    margin: 1px;
}


.btn {
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
    border-radius: 4px;
    border: 1px solid;
    padding: 6px 12px;
    height: 34px;

}

#header {
    top: 0px;
    left: 0px;
    padding-bottom: 9px;
    margin: 40px 0px 20px;
    border-bottom: 1px solid #EEE;

}

.btn-default {
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}
.btn {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    transition: all 0.15s ease 0s;
    overflow: hidden;
}
button:hover {
    background-color: rgb(200, 200, 20s0);
}
button, input, optgroup, select, textarea {
    margin: 0px;
    font: inherit;
    color: inherit;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}

p.success, p.error {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 12px;
}
p.error {
    background-color: #fddfdf;
    border-color: #f1a899;
    color: #5f3f3f;

}
p.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.splitdiv {
    width:50%;
    float:left;
    margin: 0px 0px;
}